[submodule "bundle/systemverilog"]
	path = bundle/systemverilog
	url = https://github.com/vim-scripts/systemverilog.vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = https://github.com/vim-scripts/desertEx
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/vim-scripts/snipmate-snippets
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit
